body{ 
    color: #19191C;
    margin: 0;   
    font: 400 18px/28px 'Inter', sans-serif;   
}

.container{
    width: 1440px;
    margin: 0 auto;
    position: relative; 
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
   
}   
.header-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 68px;
}
.nav{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    
}

.btn-box{
   
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
      
   }

.nav-list{
    
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 2%;
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    
}

.link {
    text-decoration: none;
    color: #19191C;
    
}

.btn-box{
    width: 30%;
    display: flex;
    gap: 48px;
    align-items: center;
   
   
}
.header-block{
    display: flex;
    width: 50%;
    justify-content: space-between;
}


  
.logo{

    font-weight: 800;
    font-size: 24px;
 
    display: flex;
    align-items: center;
    gap: 14px;
    color:#19191C;
    text-decoration: none;
}

.header-link{
    color: #19191C;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}   

.header-button{
    background: #19191C;;
    color: #EFEFF2;
    padding: 12px 37px;
    padding: 2% ;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;

}
/* -------------------------- */
/* <footer class="wraper footer container"> */
 

.footer{
   
    background: #19191C;      
    margin:  0 ; 
    padding:0 ;
    gap: 3vh;
    
    
}
.wraper{
    display: flex;
    flex-direction: column;
    /* height: 476px;  */
    justify-content: space-between;
    padding: 68px 240px 0 240px;
    margin: 0 auto;

   
}
.footer-content-block{
    /* border: 3px solid #491a37; */
    display: flex;
    /* flex: ; */
    justify-content: space-between;

}
.footer-support{
    /* border: 3px solid #f5e50a; */
    display: flex;
    gap: 10%;
    flex-direction: column;
    margin: 0 12% 0 0;
}
.footer-content{
    width: 100%;
    /* border: 3px solid #3d0af5; */
    display: flex;
    justify-content: space-between;
    margin: 0 ;
    padding: 0;
      
}
.support-logo{
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0;
    padding: 0;
} 
.support{
    font: 600 24px/28px 'Inter';
    color: #EFEFF2;
    text-decoration: none;
    display: flex ;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 16px;
}  

      
.logo-white{   
    font: 800 18px/28px 'Inter';
    color:#EFEFF2;
    text-decoration: none;
    display: flex;
    gap: 14px;  
    margin: 0;   
    padding: 0;
}


.link-footer{
    text-decoration: none; 
    font: 400 18px/28px 'Inter';
    color: #EFEFF2;
}   

.sitemap-title{
   
    font: 600 18px/28px 'Inter';
    text-decoration: none;
    color: #EFEFF2;
    /* gap: 28px; */
    padding: 0 0 28px 0;
    margin: 0;
 }  
 
 
.sitemap-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 12px;
}

.copyright{
       
    gap: 28px;
    font: 400 18px/28px 'Inter';
    color: #6D6D77;

    display: flex;
    align-items: center;
    justify-content: center;
}   
.link-copyright{
    text-decoration: none;
    color: #6D6D77;
}
 

